.container {
  height: 342px;
  width: 416px;
  background-image: url("../public/eventCard.png");
  color: #ffffff;
}

.container button {
  padding: 0.5rem 2rem;
  margin: 25px 0px 50px 25px;
  border: solid 1px #ffffff;
  background-color: transparent;
  font-size: 1rem;
  color: white;
}

.container button:hover {
  cursor: pointer;
}

.date {
  text-align: center;
  width: 145px;
  padding-top: 10px;
  margin-bottom: 35px;
}

.dateNumber {
  font-size: 2.25rem;
  line-height: 2rem;
}

.information {
  padding: 0px 25px;
  width: 416px;
}

.information h3 {
  margin: 0px 0px 5px 0px;
  font-family: Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  height: 56px;
}

.information p {
  margin: 0px 20px 0px 0px;
  height: 32px;
  font-family: Helvetica, sans-serif;
  font-size: 0.9rem;
}

.location {
  margin: 0px;
  padding-right: 25px;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

@media (max-width: 450px) {
  .container {
    margin-right: 100px;
    width: 300px;
    height: auto;
  }

  .container button {
    margin-bottom: 35px;
  }

  .information {
    width: 300px;
  }

  .information h3 {
    font-size: 1.5rem;
  }

  .location {
    padding-right: 15px;
    font-size: 1.2rem;
  }
}
