.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #ebebeb;
  padding: 0px 15%;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header {
  margin: 0px;
  font-size: 2rem;
  font-weight: 600;
}

.paragraph {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  letter-spacing: -0.04rem;
}

.navigation {
  display: none;
}

@media (max-width: 450px) {
  .container {
    padding: 0 10%;
    height: 500px;
    background-color: #001a7a;
    color: #ffffff;
  }

  .slider {
    transition: transform 1s;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    width: 75px;
    margin: 25px auto;
  }

  .radio {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 0.5px #b7b7b7;
  }
}
